---
import MainLayout from "../layout/MainLayout.astro";

const name = "Pokemon static | Home";
const title = "Pokemon static | Home";
---

<MainLayout title={title}>

	<h1 class="text-3xl ">Astro</h1>
	<p>Welcome to {name}</p>

</MainLayout>

